@use '../variables' as *;

.profile {
  font: $WS-base;

  &__placeholder {
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 320px;

    @media (max-width: 834px) {
      height: 280px;
    }

    @media (max-width: 480px) {
      height: 250px;
    }
  }

  &__container {
    margin: 0 115px;

    @media (max-width: 834px) {
      margin: 0 72px;
    }

    @media (max-width: 480px) {
      margin: 0 30px;
    }

    &__header {
      &__avatar {
        margin-top: -100px;

        @media (max-width: 480px) {
          display: flex;
          justify-content: center;
        }

        img {
          border-radius: 20px;
          height: 200px;
          width: 200px;
        }
      }
    }

    &__user-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;

      &__column {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width: 630px) {
          width: 100%;
        }

        &__name {
          margin-top: 40px;
          font: $WS-h2;

          @media (max-width: 834px) {
            font: $WS-h3;
          }

          @media (max-width: 480px) {
            font: $WS-h4;
          }
        }

        &__stats {
          gap: 20px 80px;
          display: flex;

          @media (max-width: 630px) {
            flex-wrap: wrap;
          }

          &__item {
            &__title {
              font: $SM-h4;

              @media (max-width: 834px) {
                font: $SM-h5;
              }
            }
          }
        }

        &__links {
          img {
            margin-right: 10px;
            filter: invert(58%) sepia(6%) saturate(73%) hue-rotate(22deg) brightness(89%)
              contrast(84%);
          }
        }

        &__container {
          display: flex;
          gap: 20px;

          @media (max-width: 630px) {
            flex-direction: column;
          }

          @media (max-width: 930px) {
            display: none;
          }

          @media (min-width: 931px) and (max-width: 1200px) {
            flex-direction: column;

            & div:nth-child(2) {
              order: 1;
            }

            & div:nth-child(1) {
              order: 2;
            }
          }

          &__adaptive {
            display: none;

            @media (max-width: 930px) {
              display: flex;
            }
          }
        }
      }
      &__column-second {
        @media (max-width: 630px) {
          display: none;
        }
      }
    }
    &__filter {
      display: flex;
      margin-bottom: 80px;

      &__items {
        cursor: pointer;
        padding: 15px 30px;
        color: #858584;
      }

      &__active {
        color: white;
        border-bottom: 2px solid #858584;
      }
    }

    &__nft-cards {
      margin-bottom: 80px;
      &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        @media (max-width: 834px) {
          grid-template-columns: repeat(2, 1fr);
        }

        &__item {
          &__image {
            font-size: 0;

            img {
              border-radius: 20px 20px 0 0;
              width: 100%;
              object-fit: cover;
            }
          }

          &__info {
            border-radius: 0 0 20px 20px;
            background-color: $background-secondary;
            padding: 20px 30px 20px;

            &__name {
              font: $WS-h5;
              margin-bottom: 15px;
            }

            &__author {
              display: flex;

              &__avatar {
                img {
                  border-radius: 50%;
                  width: 30px;
                  height: 30px;
                }
              }

              &__name {
                font: $SM-base;
                white-space: nowrap;
                margin-left: 12px;
              }
            }

            &__properties {
              margin-top: 25px;
              display: flex;
              justify-content: space-between;

              &__item {
                div {
                  font: $SM-base;
                  margin-top: 10px;
                }

                span {
                  font: $SM-base;
                  font-size: 12px;
                  color: #858584;
                }
              }
            }
          }
        }
      }
    }
  }
}
