@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

$background: #2b2b2b;
$background-secondary: #3b3b3b;
$background-caption: #858584;
$color: #ffffff;
$action: #a259ff;

$SM-h1: 700 67px 'Space Mono', monospace;
$SM-h2: 700 51px 'Space Mono', monospace;
$SM-h3: 700 38px 'Space Mono', monospace;
$SM-h4: 700 28px 'Space Mono', monospace;
$SM-h5: 700 22px 'Space Mono', monospace;
$SM-base: 400 16px 'Space Mono', monospace;

$WS-h1: 600 67px 'Work Sans', sans-serif;
$WS-h2: 600 51px 'Work Sans', sans-serif;
$WS-h3: 600 38px 'Work Sans', sans-serif;
$WS-h4: 600 28px 'Work Sans', sans-serif;
$WS-h5: 600 22px 'Work Sans', sans-serif;
$WS-base: 400 16px 'Work Sans', sans-serif;

$PJS-500: 500 14px 'Plus Jakarta Sans', sans-serif;
$PJS-700: 700 14px 'Plus Jakarta Sans', sans-serif;
