@use './variables' as *;
@use './reset';

@use './landing/landing.scss';

@use './templates/templates.scss';
@use './utils/utils.scss';

:root {
  font-size: 10px;
  color: $color;
}

body {
  background-color: $background;
}
