@use './variables' as *;
@use './reset';

@use './landing/landing.scss';
@use './main/main.scss';

@use './templates/templates.scss';
@use './utils/utils.scss';

:root {
  font-size: 10px;
  color: $color;
}

.disable-scroll {
  height: 100vh;
  overflow: hidden;
}
