@use '../variables' as *;

.errorAlert {
  z-index: 100;
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  color: rgb(244, 199, 199);

  &__container {
    background-color: rgba(110, 30, 30, 0.9);
    padding: 15px 15px 20px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;

    @media (max-width: 735px) {
      width: 90%;
    }
  }

  &__text-container {
    display: flex;
  }

  &__image {
    margin-right: 15px;
    img {
      transform: translateY(10%);
      width: 22px;
      height: 22px;
    }
  }

  &__description {
    font: $WS-base;

    &__title {
      margin-bottom: 5px;
      font: $WS-h5;
    }
  }

  &__close {
    filter: invert(86%) sepia(4%) saturate(1436%) hue-rotate(314deg) brightness(87%) contrast(107%);
    cursor: pointer;
    width: 25px;
    height: 25px;

    &:hover {
      filter: invert(100%) sepia(9%) saturate(6613%) hue-rotate(188deg) brightness(120%)
        contrast(107%);
    }
  }
}
