@use '../variables' as *;

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 100px);

  @media (max-width: 780px) {
  }

  img {
    position: absolute;
    top: 25%;
    height: 400px;
    z-index: -1;
    max-width: 100%;
    object-fit: cover;
  }

  &-title {
    text-align: center;
    font: $WS-h3;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;

    @media (max-width: 780px) {
      font: $WS-h5;
      margin-top: 25px;
    }
  }
}
