@use '../variables' as *;

.burger-menu__active {
  display: flex !important;
}

.burger-menu__inactive {
  display: none !important;
}

.main-header {
  &__container {
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    transition: all ease-in-out 0.2s;

    @media (max-width: 1160px) {
      padding: 20px 30px;
    }

    @media (max-width: 1100px) {
      padding: 20px;
    }

    &__row {
      display: flex;
      align-items: center;

      &:nth-of-type(1) {
        flex: 1;
        margin-right: 40px;

        @media (max-width: 1100px) {
          margin-right: 15px;
        }
      }

      @media (max-width: 1100px) {
        justify-content: space-between;
      }

      &:nth-of-type(2) nav {
        @media (max-width: 1100px) {
          display: none;
        }
      }

      &:nth-of-type(2) {
        @media (max-width: 1100px) {
          width: unset;
        }
      }

      &__logo {
        margin-right: 30px;

        img:nth-of-type(1) {
          @media (max-width: 550px) {
            height: 28px;
          }
        }

        img:nth-of-type(2) {
          @media (max-width: 550px) {
            height: 18px;
          }
        }
      }

      &__search {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        font-size: 0;

        &:has(> input:focus) {
          border: 1px solid rgba(255, 255, 255, 0.5);
        }

        &__adaptive {
          display: none;

          @media (max-width: 730px) {
            display: block;
          }
        }

        @media (max-width: 730px) {
          display: none;
        }

        img {
          cursor: pointer;
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        input {
          min-width: 200px;
          width: 100%;
          color: white;
          border: none;
          background: transparent;
          padding: 0px 20px;
          font-size: 16px;
          padding: 5px;

          &::placeholder {
            font: $PJS-500;
            font-size: 16px;
          }
        }
      }

      &__navigation {
        padding: 0;
        margin-right: 40px;
        display: flex;
        gap: 30px;
        font: $PJS-700;
        font-size: 16px;

        @media (max-width: 1160px) {
          margin-right: 30px;
        }

        li {
          cursor: pointer;

          img {
            margin-left: 12px;
          }
        }
      }

      &__buttons {
        display: flex;
        font-size: 0;
        gap: 20px;
        cursor: pointer;

        @media (max-width: 500px) {
          gap: 10px;
        }

        @media (max-width: 1100px) {
          margin-left: 20px;
        }

        div {
          padding: 10px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          border-radius: 100%;

          &:nth-of-type(2) {
            @media (max-width: 500px) {
              display: none;
            }
          }

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    &__burger-menu {
      font-size: 0;
      margin-left: 20px;
      display: none;

      @media (max-width: 500px) {
        margin-left: 13px;
      }

      &__button,
      &__button__close {
        padding: 4px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        cursor: pointer;

        img {
          width: 25px;
          height: 25px;
        }
      }

      &__button__close img {
        filter: invert(90%) sepia(100%) saturate(0%) hue-rotate(155deg) brightness(103%)
          contrast(101%);
      }

      @media (max-width: 1100px) {
        display: flex;
        align-items: center;
      }

      &__container {
        font: $PJS-500;
        font-size: 30px;
        position: absolute;
        display: none;
        left: 0;
        right: 0;
        top: 90.5px;
        bottom: 0;
        justify-content: space-between;
        padding: 40px;
        backdrop-filter: blur(5px);

        ul {
          padding-left: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          li {
            display: flex;
            align-items: center;

            img {
              margin-left: 10px;
              transform: translateY(25%);
            }
          }
        }
      }
    }
  }

  &__adaptive-search {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: $background;
    margin: 0 10px;

    @media (min-width: 731px) {
      display: none !important;
    }

    &__input {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #363840;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
        padding: 2px;
        filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(347deg) brightness(95%) contrast(79%);
      }

      input {
        color: white;
        font: $PJS-500;
        font-size: 18px;
        background: transparent;
        border: none;
        padding: 20px;
        width: 100%;

        &::placeholder {
          font: $PJS-500;
          font-size: 18px;
        }
      }

      &__wrap {
        flex: 1;
        display: flex;
        align-items: center;

        img {
          width: 30px;
          height: 30px;
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(108deg) brightness(118%)
            contrast(101%);
        }
      }
    }

    &__result {
      font: $PJS-500;
      font-size: 16px;
      color: rgb(138, 147, 155);
      margin: 20px 10px;
    }
  }
}
