@use '../variables' as *;

.burger-menu__active {
  display: flex !important;
}

.burger-menu__inactive {
  display: none !important;
}

.main-header {
  position: relative;
  background-position: center;
  background-size: cover;
  height: 350px;

  &__container {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1160px) {
      padding: 20px 30px;
    }

    @media (max-width: 1100px) {
      padding: 20px;
    }

    &__row {
      display: flex;
      align-items: center;

      @media (max-width: 1100px) {
        width: 100%;
        justify-content: space-between;
      }

      &:nth-of-type(2) nav {
        @media (max-width: 1100px) {
          display: none;
        }
      }

      &:nth-of-type(2) {
        @media (max-width: 1100px) {
          width: unset;
        }
      }

      &__logo {
        margin-right: 30px;
      }

      &__search {
        display: flex;
        align-items: center;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 20px;

        @media (max-width: 700px) {
          display: none;
        }

        img {
          cursor: pointer;
          width: 20px;
          height: 20px;
        }

        input {
          min-width: 200px;
          border: none;
          background: transparent;
          color: white;
          padding: 0px 20px;
          font-size: 16px;
          padding: 5px;

          &::placeholder {
            color: white;
            font: $PJS-500;
          }
        }
      }

      &__navigation {
        padding: 0;
        margin-right: 50px;
        display: flex;
        gap: 30px;
        font: $PJS-700;
        font-size: 16px;

        @media (max-width: 1160px) {
          margin-right: 30px;
        }

        li {
          cursor: pointer;

          img {
            margin-left: 12px;
          }
        }
      }

      &__buttons {
        display: flex;
        font-size: 0;
        gap: 20px;
        cursor: pointer;

        @media (max-width: 1100px) {
          margin-left: 20px;
        }

        div {
          padding: 10px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          border-radius: 100%;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    &__burger-menu {
      font-size: 0;
      margin-left: 20px;
      display: none;

      &__button,
      &__button__close {
        padding: 4px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        cursor: pointer;

        img {
          width: 25px;
          height: 25px;
        }
      }

      &__button__close img {
        filter: invert(90%) sepia(100%) saturate(0%) hue-rotate(155deg) brightness(103%)
          contrast(101%);
      }

      @media (max-width: 1100px) {
        display: flex;
        align-items: center;
      }

      &__container {
        font: $PJS-500;
        font-size: 30px;
        position: absolute;
        display: none;
        left: 0;
        right: 0;
        top: 90.5px;
        bottom: 0;
        justify-content: space-between;
        padding: 40px;
        backdrop-filter: blur(5px);

        ul {
          padding-left: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          li {
            display: flex;
            align-items: center;

            img {
              margin-left: 10px;
              transform: translateY(25%);
            }
          }
        }
      }
    }
  }

  &__navigation {
    height: calc(100% - 136px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      font: $PJS-700;
      font-size: 52px;
      margin-bottom: 15px;
    }

    &__history {
      display: flex;
      gap: 8px;
      font: $PJS-500;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);

      span {
        cursor: pointer;
      }

      &__active {
        color: white;
      }

      &__symb {
        cursor: default !important;
      }
    }
  }
}
