@use '../variables' as *;

.profile {
  font: $PJS-500;
  font-size: 16px;

  &__images {
    position: relative;
    height: 320px;
    width: 100%;
    margin-bottom: 50px;
    background-color: #282a2e;

    &__background-wrap {
      position: relative;
      display: block;
      height: 100%;

      &__background {
        object-fit: cover;
        width: 100vw;
        height: 100%;
      }

      &__changeHover {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        transition: opacity ease-in-out 0.1s;
        opacity: 0;

        &:hover {
          opacity: 0.9;
        }

        img {
          width: 25px;
          height: 25px;
          filter: invert(100%) sepia(14%) saturate(7422%) hue-rotate(188deg) brightness(115%)
            contrast(115%);
        }
      }
    }

    &__avatar-wrap {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      left: 2%;
      width: 200px;
      height: 200px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px 0px;
      background-color: $background-main;
      border-radius: 100%;

      &__changeHover {
        cursor: pointer;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 175px;
        width: 175px;
        border-radius: 100%;
        background-color: black;
        transition: opacity ease-in-out 0.1s;
        opacity: 0;

        &:hover {
          opacity: 0.9;
        }

        img {
          width: 25px;
          height: 25px;
          filter: invert(100%) sepia(14%) saturate(7422%) hue-rotate(188deg) brightness(115%)
            contrast(115%);
        }
      }

      &__avatar {
        width: 170px;
        height: 170px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
  }

  &__container {
    margin: 0 32px;

    @media (max-width: 1100px) {
      margin: 0 16px;
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      &__username {
        font: $PJS-700;
        font-size: 30px;
      }

      &__actions {
        display: flex;
        gap: 10px;

        &__img {
          display: flex;
          align-items: center;
          width: 45px;
          height: 45px;
          padding: 13px;
          cursor: pointer;
          border-radius: 100%;

          &:nth-of-type(1) img {
            transform: translateX(10%);
          }

          &:nth-of-type(2) {
            padding: 9px;
          }

          &:hover {
            background-color: #4d505c;
          }
        }

        img {
          width: 100%;
          height: 100%;
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(336deg) brightness(101%)
            contrast(100%);
        }
      }
    }

    &__userinfo {
      display: flex;
      margin-bottom: 30px;
      gap: 25px;

      &__hash {
        cursor: pointer;

        &:hover {
          color: rgba(229, 232, 235, 0.8);
        }
      }

      &__joinedSince {
        color: rgb(138, 147, 155);
        cursor: default;
      }
    }

    &__filters {
      padding: 20px 0;
      position: sticky;
      top: 80.5px;

      @media (max-width: 760px) {
        top: 72px;
      }

      @media (max-width: 500px) {
        top: 66px;
      }

      &__active {
        border-bottom: 2px solid white;
      }

      ul {
        display: flex;
        padding: 0;
        gap: 25px;

        li {
          padding: 5px 5px 10px;
          color: #8a838b;
          transition: color ease-in-out 0.2s;
          cursor: pointer;

          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
