@use '../variables' as *;

.register {
  height: calc(100vh - 100px);
  display: flex;
  gap: 100px;

  @media (max-width: 1400px) {
    gap: 50px;
  }

  @media (min-width: 735px) and (max-width: 1000px) {
    justify-content: center;
  }

  @media (max-width: 875px) {
    height: calc(100vh - 55px);
  }

  @media (max-width: 735px) {
    height: 100%;
    flex-direction: column;
    padding-bottom: 40px;
  }

  &__inpurt-border-error {
    border: 2px solid #fb3b1e !important;
  }

  &__placeholder-column {
    flex-basis: 55%;

    @media (min-width: 735px) and (max-width: 1000px) {
      height: calc(100vh - 100px);
      position: absolute;
      width: 100vw;
    }

    @media (max-width: 875px) {
      height: calc(100vh - 55px);
    }

    img {
      height: 100%;
      border-radius: 0 20px 0 0;
      width: 100%;
      object-fit: cover;

      @media (min-width: 735px) and (max-width: 1000px) {
        border-radius: 0;
        filter: brightness(0.4);
      }
    }
  }

  &__form-column {
    margin-top: 50px;
    z-index: 10;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-right: 100px;

    @media (max-width: 1320px) {
      margin-right: 2%;
    }

    @media (min-width: 735px) and (max-width: 1000px) {
      margin: 0;
      margin-top: 50px;
      flex-basis: 100%;
    }

    @media (max-width: 735px) {
      max-width: 90%;
      margin: 0 auto;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__title {
      white-space: nowrap;
      font: $WS-h2;
      margin-bottom: 20px;

      @media (max-width: 1000px) {
        font: $WS-h3;
      }
    }

    &__subtitle {
      font: $WS-base;
      margin-bottom: 40px;

      @media (max-width: 834px) {
        margin-right: 50px;
      }

      @media (max-width: 735px) {
        margin-right: 0;
      }
    }

    &__input-title {
      display: inline-block;

      font: $WS-base;
      margin-left: 8px;
      margin-bottom: 10px;
    }

    &__input-field {
      position: relative;
      height: 45px;
      display: flex;
      align-items: center;
      border: 2px solid $background-caption;
      background-color: $background;
      border-radius: 10px;
      color: white;

      input {
        padding: 5px 10px;
        border-radius: 0 10px 10px 0;
        margin-left: 10px;
        font: $WS-base;
        border: none;
        width: 100%;
        height: 100%;
        background-color: $background;

        &:-webkit-autofill {
          box-shadow: inset 10px 10px 10px 100px $background !important;
          -webkit-text-fill-color: white;
        }
      }

      &:has(> input:focus) {
        border-color: $action;
      }

      label:has(+ input:focus) {
        filter: invert(49%) sepia(69%) saturate(4801%) hue-rotate(241deg) brightness(99%)
          contrast(105%);
      }

      img {
        margin-left: 15px;
        width: 20px;
        height: 20px;
        filter: invert(61%) sepia(6%) saturate(43%) hue-rotate(21deg) brightness(85%) contrast(87%);
      }
    }

    &__input-error {
      margin-top: 10px;
      font: $WS-base;
      padding-left: 10px;
      color: #fb3b1e;
    }

    &__input-submit {
      margin-top: 20px;
      cursor: pointer;
      background-color: $action;
      display: flex;
      width: 90%;
      justify-content: center;
      font: $WS-base;
      color: white;

      @media (max-width: 735px) {
        width: 100%;
      }
    }

    &__login-suggest {
      font: $WS-base;
      font-size: 18px;
      margin-top: 25px;
      margin-bottom: 35px;
      text-align: center;

      a {
        display: inline-block;
        margin-left: 5px;
        text-decoration: underline;

        &:hover {
          color: $action;
        }
      }
    }
  }
}
