@use '../variables' as *;

.author-template {
  display: flex;
  align-items: center;
  font: $WS-base;
}

.author-template img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
