@use '../variables' as *;

.author-template {
  display: flex;
  align-items: center;
  font: $WS-base;
}

.author-template img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

@media screen and (max-width: 834px) {
  .wrapper {
    margin: 40px 0;
  }

  .wrapper-container {
    flex: 0 1 690px;
  }
}
