@use '../variables' as *;

.button-template {
  cursor: pointer;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: $SM-h5;
  border: 2px solid $action;
  border-radius: 20px;
  text-align: center;
  padding: 0 50px;
}

.button-template:hover {
  background-color: $action;
}

.button-template:hover img {
  filter: none;
}

.button-template img {
  filter: invert(58%) sepia(56%) saturate(7493%) hue-rotate(243deg) brightness(120%) contrast(101%);
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.button-primary {
  height: 72px;
}

.button-secondary {
  font-size: 16px;
  height: 60px;
}

.button-tertiary {
  font-size: 16px;
  height: 46px;
}
