@use '../variables' as *;

.author-template {
  display: flex;
  align-items: center;
  font: $WS-base;
}

.author-template img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.wrapper {
  margin: 80px 0;
  display: flex;
  justify-content: center;
}

.wrapper-container {
  margin: 0 25px;
  flex: 0 1 1050px;
}

@media screen and (max-width: 834px) {
  .wrapper {
    margin: 40px 0;
  }

  .wrapper-container {
    flex: 0 1 690px;
  }
}
