@use '../variables' as *;

.connect-wallet {
  font: $WS-base;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 900px;

  @media (max-width: 990px) {
    height: calc(100vh - 65px);
  }

  @media (max-width: 630px) {
    background-size: 760px;
  }

  &__container {
    background-color: $background-secondary;
    padding: 20px 50px 30px 50px;
    margin: 10px 25px;
    border-radius: 20px;
    max-width: 550px;

    @media (max-width: 445px) {
      padding: 20px 25px 30px 25px;
      margin: 10px 15px;
    }

    &__title {
      font: $WS-h2;
      margin-bottom: 20px;

      @media (max-width: 630px) {
        font: $WS-h3;
      }
    }

    &__subtitle {
      font-size: 22px;
      line-height: 160%;
      margin-bottom: 40px;

      @media (max-width: 630px) {
        font-size: 18px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__element {
        white-space: nowrap;
        font: $WS-h5;
        background-color: $background;
        border-radius: 20px;
        padding: 15px 40px;
        display: flex;
        align-items: center;
        border: 1px solid $background;

        &:hover {
          border: 1px solid $action;
        }

        @media (max-width: 445px) {
          font-size: 20px;
        }

        img {
          margin-right: 20px;
        }
      }
    }
  }
}
