@use '../variables' as *;

.landingHeader {
  position: relative;
  background-color: $background;
  display: flex;
  min-height: 100px;
  padding: 0 25px;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.landingHeader__logo-text {
  transform: translateY(-10%);
}

.landingHeader__logo-image {
  margin-right: 12px;
  filter: invert(58%) sepia(56%) saturate(7493%) hue-rotate(243deg) brightness(120%) contrast(101%);
}

.landingHeader__burger-menu {
  width: 32px;
  height: 32px;
  padding: 3px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.landingHeader__burger-menu-close {
  width: 30px;
  height: 30px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(110deg) brightness(105%) contrast(101%);
  cursor: pointer;
  display: none;
}

.landingHeader__navigation {
  font: $WS-base;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.landingHeader__navigation li {
  display: flex;
  align-items: center;
}

.navagation-item--button {
  height: 52px !important;
  padding: 0 20px !important;
  margin-right: 0 !important;
}

.navigation-item {
  margin: 0 8px;
  padding: 12px;
  transition: color 0.2s ease;

  &:hover {
    color: $action;
    border-bottom: 1px solid $action;
  }
}

.navigation-item__login {
  margin-left: 10px;
  margin-right: 0;
}

.navagation-item--button:hover {
  color: white;
}

.landingHeader__burger-background {
  display: none;
  position: absolute;
  left: 0;
  top: 65px;
  height: calc(100vh - 65px);
  width: 100vw;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  opacity: 0;
  transition: all 0.1s linear 0.2s;
}

.landingHeader__burger-navigation {
  display: none;
  flex-direction: column;
  gap: 5px;
  background-color: $background-secondary;
  border-radius: 0 0 10px 10px;
  padding: 30px 25px;
  top: 100%;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  transform: translateX(100vw);
  transition: all 0.2s ease-in-out;
}

.landingHeader__burger-navigation li:nth-last-of-type(2) img {
  width: 28px;
  height: 28px;
}

.burger-active {
  display: flex;
  opacity: 1;
  transform: translateX(0);
}

.burger-navigation-item {
  display: inline-flex;
  align-items: center;
  padding: 15px 20px;
  font: $WS-h5;
}

.burger-navigation-item img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(197deg) brightness(101%) contrast(104%);
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.burger-navagation-item--button {
  margin: 25px 20px 0 0;
}

@media screen and (max-width: 1040px) {
  .navigation-item {
    margin: 0;
  }

  .navagation-item--button {
    margin-left: 10px;
  }

  .navigation-item__login {
    margin-left: 10px;
  }

  .navagation-item--button {
    padding: 0 15px !important;
  }
}

@media screen and (max-width: 990px) {
  .landingHeader {
    min-height: 65px;
  }

  .landingHeader__logo-image {
    height: 25px;
    width: 25px;
  }

  .landingHeader__logo-text {
    height: 18px;
  }

  .landingHeader__navigation {
    display: none;
  }

  .landingHeader__burger-menu,
  .landingHeader__burger-menu-close {
    display: block;
  }
}

@media screen and (max-width: 415px) {
  .burger-navagation-item--button {
    padding: 0 30px !important;
  }
}
