@use '../variables' as *;

.landingHeader {
  position: relative;
  background-color: $background;
  display: flex;
  min-height: 100px;
  padding: 0 25px;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.landingHeader__logo-text {
  transform: translateY(-10%);
}

.landingHeader__logo-image {
  margin-right: 12px;
  filter: invert(73%) sepia(79%) saturate(6836%) hue-rotate(241deg) brightness(100%) contrast(104%);
}

.landingHeader__burger-menu {
  width: 32px;
  height: 32px;
  padding: 3px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.landingHeader__burger-menu-close {
  width: 30px;
  height: 30px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(110deg) brightness(105%) contrast(101%);
  display: none;
}

.landingHeader__navigation {
  font: $WS-base;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation-item {
  margin: 0 8px;
  padding: 12px;
  transition: color 0.2s ease;

  &:hover {
    color: $action;
    border-bottom: 1px solid $action;
  }
}

.navagation-item--button:hover {
  color: white;
}

.landingHeader__burger-navigation {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: $background-secondary;
  border-radius: 0 0 10px 10px;
  padding: 30px 25px;
  top: 100%;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}

.burger-navigation-item {
  display: inline-block;
  padding: 15px 20px;
  font: $WS-h4;
}

.burger-navagation-item--button {
  margin-top: 25px;
}

@media screen and (max-width: 1040px) {
  .navigation-item {
    margin: 0;
  }

  .navagation-item--button {
    padding: 0 25px !important;
  }
}

@media screen and (max-width: 874px) {
  .landingHeader {
    min-height: 55px;
  }

  .landingHeader__logo-image {
    height: 24px;
    width: 24px;
  }

  .landingHeader__logo-text {
    height: 15px;
  }

  .navagation-item--button {
    height: 35px !important;
    padding: 0 20px !important;
  }
}

@media screen and (max-width: 820px) {
  .landingHeader__navigation {
    display: none;
  }

  .landingHeader__burger-menu,
  .landingHeader__burger-menu-close {
    display: block;
  }
}
