@use '../variables' as *;

.landingHeader {
  background-color: $background;
  display: flex;
  min-height: 100px;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.landingHeader__logo-image {
  margin-right: 12px;
  filter: invert(73%) sepia(79%) saturate(6836%) hue-rotate(241deg) brightness(100%) contrast(104%);
}

.landingHeader__logo-text {
  transform: translateY(-10%);
}

.landingHeader__burger-menu {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none;
}

.landingHeader__navigation {
  font: $WS-base;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation-item {
  margin: 0 8px;
  padding: 12px;
  transition: color 0.2s ease;

  &:hover {
    color: $action;
    border-bottom: 1px solid $action;
  }
}

.navagation-item--button:hover {
  color: white;
}

@media screen and (max-width: 1040px) {
  .landingHeader__navigation .navagation-item--button {
    display: none;
  }

  .navigation-item:nth-last-child(1) {
    padding-right: 0;
  }
}

@media screen and (max-width: 974px) {
  .landingHeader__navigation {
    display: none;
  }

  .landingHeader__burger-menu {
    display: block;
  }
}

@media screen and (max-width: 874px) {
  .landingHeader {
    min-height: 55px;
  }

  .landingHeader__logo-image {
    height: 24px;
    width: 24px;
  }

  .landingHeader__logo-text {
    height: 15px;
  }
}

@media screen and (max-width: 375px) {
  .landingHeader {
    padding: 0 15px;
  }
}
