@use '../variables' as *;

.login {
  font: $WS-base;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;

  @media (max-width: 500px) {
    background-image: unset !important;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    gap: 20px;
    margin: auto 25px;
    padding: 35px 45px;
    border-radius: 20px;
    background-color: $background-secondary;

    @media (max-height: 559px) {
      margin: 20px 25px;
    }

    @media (max-width: 500px) {
      padding: 0;
      background-color: $background;
    }
  }

  &__form-field {
    margin-top: 20px;

    &__input-title {
      display: inline-block;
      margin-bottom: 15px;
      margin-left: 5px;
    }
  }

  form {
    width: 100%;
  }

  &__input-field {
    background-color: $background;
    height: 45px;
    display: flex;
    align-items: center;
    border: 2px solid $background-caption;
    border-radius: 10px;
    color: white;

    input {
      caret-color: white;
      padding: 5px 10px;
      border-radius: 0 10px 10px 0;
      margin-left: 10px;
      font: $WS-base;
      border: none;
      width: 100%;
      height: 100%;
      background-color: $background;

      &[type='password'] {
        border-radius: 0;
      }

      &:-webkit-autofill {
        box-shadow: inset 10px 10px 10px 100px $background !important;
        -webkit-text-fill-color: white;
      }
    }

    &:has(> input:focus) {
      border-color: $action;
    }

    label:has(+ input:focus) {
      filter: invert(49%) sepia(69%) saturate(4801%) hue-rotate(241deg) brightness(99%)
        contrast(105%);
    }

    &__show {
      cursor: pointer;
      margin-right: 15px;
      width: 25px;
      height: 25px;
      filter: invert(35%) sepia(6%) saturate(43%) hue-rotate(21deg) brightness(100%) contrast(100%);
    }

    &__label img {
      margin-left: 15px;
      width: 20px;
      height: 20px;
      transform: translateY(10%);
      filter: invert(61%) sepia(6%) saturate(43%) hue-rotate(21deg) brightness(85%) contrast(87%);
    }
  }

  &__title {
    font: $WS-h3;

    @media (max-width: 735px) {
      font: $WS-h4;
    }
  }

  &__subtitle {
    text-align: center;
  }

  &__input-error {
    margin-top: 10px;
    font: $WS-base;
    padding-left: 10px;
    color: #fb3b1e;
  }

  &__remember-me {
    display: flex;
    align-items: center;
    margin-top: 15px;

    input {
      width: 16px;
      height: 16px;
    }

    label {
      margin-left: 8px;
    }
  }

  &__button {
    font: $SM-base;
    background-color: $background;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__register-suggest {
    text-align: center;

    a {
      display: inline-block;
      margin-left: 5px;
      text-decoration: underline;

      &:hover {
        color: $action;
      }
    }
  }
}
