@use '../variables' as *;

.register {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: bottom;
  background-repeat: no-repeat;

  @media (max-height: 700px) {
    height: auto;
  }

  @media (max-width: 500px) {
    background-image: unset !important;
  }

  &__inpurt-border-error {
    border: 2px solid #fb3b1e !important;
  }

  &__form-column {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 570px;
    margin: auto 25px;
    padding: 35px 45px;
    border-radius: 20px;
    background-color: $background-secondary;

    @media (max-height: 800px) {
      margin: 20px 25px;
    }

    @media (max-width: 500px) {
      padding: 0;
      background-color: $background;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__title {
      white-space: nowrap;
      font: $WS-h2;
      margin-bottom: 20px;

      @media (max-width: 1000px) {
        font: $WS-h3;
      }
    }

    &__subtitle {
      font: $WS-base;
      margin-bottom: 40px;
    }

    &__input-title {
      display: inline-block;

      font: $WS-base;
      margin-left: 8px;
      margin-bottom: 10px;
    }

    &__input-field {
      position: relative;
      height: 45px;
      display: flex;
      align-items: center;
      border: 2px solid $background-caption;
      background-color: $background;
      border-radius: 10px;
      color: white;

      input {
        padding: 5px 10px;
        border-radius: 0 10px 10px 0;
        margin-left: 10px;
        font: $WS-base;
        border: none;
        width: 100%;
        height: 100%;
        background-color: $background;

        &:-webkit-autofill {
          box-shadow: inset 10px 10px 10px 100px $background !important;
          -webkit-text-fill-color: white;
        }
      }

      &:has(> input:focus) {
        border-color: $action;
      }

      label:has(+ input:focus) {
        filter: invert(49%) sepia(69%) saturate(4801%) hue-rotate(241deg) brightness(99%)
          contrast(105%);
      }

      &__show {
        cursor: pointer;
        margin-right: 15px;
        width: 25px;
        height: 25px;
        filter: invert(35%) sepia(6%) saturate(43%) hue-rotate(21deg) brightness(100%)
          contrast(100%);
      }

      &__label img {
        margin-left: 15px;
        width: 20px;
        height: 20px;
        filter: invert(61%) sepia(6%) saturate(43%) hue-rotate(21deg) brightness(85%) contrast(87%);
      }
    }

    &__input-error {
      margin-top: 10px;
      font: $WS-base;
      padding-left: 10px;
      color: #fb3b1e;
    }

    &__input-submit {
      margin-top: 20px;
      cursor: pointer;
      background-color: $action;
      display: flex;
      width: 100%;
      justify-content: center;
      font: $WS-base;
      color: white;
    }

    &__login-suggest {
      font: $WS-base;
      font-size: 18px;
      margin-top: 25px;
      text-align: center;

      a {
        display: inline-block;
        margin-left: 5px;
        text-decoration: underline;

        &:hover {
          color: $action;
        }
      }
    }
  }
}
