*, body {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    color: inherit;
    list-style: none;
}

body {
    background-color: var(--background);
}

/*/////////// Header Start ///////////////*/

.header {
    background-color: var(--background);
    display: flex;
    min-height: 100px;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.header__logo-image {
    margin-right: 12px;
    filter: invert(73%) sepia(79%) saturate(6836%) hue-rotate(241deg) brightness(100%) contrast(104%);
}

.header__logo-text {
    transform: translateY(-10%);
}

.header__burger-menu {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: none;
}

.header__navigation {
    font: var(--WS-base);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation-item {
    padding: 12px 20px;
}



@media screen and (max-width: 974px) {
    .header {
        min-height: 55px;
    }

    .header__logo-image {
        height: 24px;
        width: 24px;
    }

    .header__logo-text {
        height: 15px;
    }

    .header__navigation {
        display: none;
    }

    .header__burger-menu {
        display: block;
    }

}

@media screen and (max-width: 375px) {
    .header {
        padding: 0 30px;
    }
}

/*/////////// Header End ///////////////*/

/*/////////// Hero-Section Start ///////////////*/

.hero-section {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.hero-section__container {
    margin: 0 25px;
    flex: 0 1 1050px;
    display: flex;
    gap: 30px;
}

.hero-section__text-column {
    flex: 1;
}

.hero-section__text-column__title {
    font: var(--WS-h1);
    line-height: 73.7px;
    margin-bottom: 20px;
}

.hero-section__text-column__subtitle {
    font: var(--WS-base);
    font-size: 22px;
    line-height: 35.2px;
}

.hero-section__text-column__image {
    margin: 40px 0 20px 0;
    font-size: 0;
    display: none;
}

.hero-section__text-column__get-started {
    margin: 40px 0;
}

.hero-section__text-column__additional-ifno {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.hero-section__text-column__additional-ifno__item span:nth-of-type(1) {
    display: block;
    font: var(--SM-h4);
}

.hero-section__text-column__additional-ifno__item span:nth-of-type(2) {
    display: block;
    font: var(--WS-base);
    font-size: 24px;
}

.hero-section__image-column {
    font-size: 0;
    flex: 1;
}

.hero-section__image-column__image {
    width: 100%;
}

.hero-section__image-column__caption {
    padding: 20px;
    font: var(--WS-h5);
    background-color: var(--background-secondary);
    border-radius: 0 0 20px 20px;
}

.hero-section__image-column__caption__author {
    margin-top: 10px;
}

@media screen and (max-width: 834px) {
    .hero-section__container {
        flex: 0 1 690px;
    }

    .hero-section__text-column__title {
        font: var(--WS-h3);
        line-height: 45.6px;
    }
    
    .hero-section__text-column__subtitle {
        font-size: 16px;
        line-height: 22.4px;
    }

    .hero-section__text-column__get-started {
        margin: 20px 0;
    }

    .hero-section__text-column__additional-ifno__item span:nth-of-type(1) {
        font: var(--SM-h5);
    }
    
    .hero-section__text-column__additional-ifno__item span:nth-of-type(2) {
        font: var(--WS-base);
    }
}

@media screen and (max-width: 600px) {
    .hero-section {
        margin: 40px 0;
    }

    .hero-section__text-column__title {
        font-size: 28px;
        line-height: 39px;
    }

    .hero-section__image-column {
        display: none;
    }

    .hero-section__container {
        flex-direction: column;
    }

    .hero-section__text-column {
        display: flex;
        flex-direction: column;
    }

    .hero-section__text-column__image {
        display: block;
    }

    .hero-section__text-column__get-started {
        justify-content: center;
    }
}

/*/////////// Hero-Section End ///////////////*/

/*/////////// Trending-Section Start ///////////////*/

.trending {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.trending__container {
    margin: 0 25px;
    flex: 0 1 1050px;
}

.trending__title {
    font: var(--WS-h3);
    margin-bottom: 10px;
}

.trending__subtitle {
    font: var(--WS-base);
    font-size: 22px;
    margin-bottom: 60px;
}

.trending__images-container {
    display: flex;
    gap: 30px;
}

.trending__images__column__preview img, .trending__images__column__minimize-images img {
    cursor: pointer;
    width: 100%;
}

.trenidng__images__column {
    flex-grow: 1;
}

.trending__images__column__preview {
    margin-bottom: 15px;
}

.trending__images__column__minimize-images {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.trending__images__column__minimize-images__more-button {
    flex-grow: 1;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 20px;
    font: var(--SM-h5);
    background-color: var(--action);
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending__images__column__name {
    font: var(--WS-h5);
    margin-bottom: 10px;
}

.trending__images__column__author {
    cursor: pointer;
}

@media screen and (max-width: 834px) {
    .trending {
        margin: 40px 0;
    }

    .trending__container {
        flex: 0 1 690px;
    }

    .trending__title {
        font-size: 28px;
    }

    .trending__subtitle {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .trending__images-container .trenidng__images__column:nth-of-type(3) {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .trending__container {
        flex: 0 1 400px;
    }

    .trending__images-container .trenidng__images__column:nth-of-type(2) {
        display: none;
    }

    .trending__images__column__minimize-images__more-button {
        font-size: 16px;
    }
}


