@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;600&display=swap');

:root  {
    font-size: 10px;
    color: var(--color);

    --action: #A259FF;
    --gradient-1: linear-gradient(100.92deg, #A259FF 13.57%, #FF6250 97.65%);
    --gradient-2: linear-gradient(128.15deg, #A259FF 49.75%, #377DF7 136.56%);

    --background: #2B2B2B;
    --background-secondary: #3B3B3B;
    --background-caption: #858584;
    --color: #FFFFFF;

    --SM-h1: 700 67px 'Space Mono', monospace;
    --SM-h2: 700 51px 'Space Mono', monospace;
    --SM-h3: 700 38px 'Space Mono', monospace;
    --SM-h4: 700 28px 'Space Mono', monospace;
    --SM-h5: 700 22px 'Space Mono', monospace;
    --SM-base: 400 16px 'Space Mono', monospace;
    --SM-caption: 400 12px 'Space Mono', monospace;

    --WS-h1: 600 67px 'Work Sans', sans-serif;
    --WS-h2: 600 51px 'Work Sans', sans-serif;
    --WS-h3: 600 38px 'Work Sans', sans-serif;
    --WS-h4: 28px 600 'Work Sans', sans-serif;
    --WS-h5: 600 22px 'Work Sans', sans-serif;
    --WS-base: 400 16px 'Work Sans', sans-serif;
    --WS-caption: 400 12px 'Work Sans', sans-serif;
}

.button-template {
    font: var(--SM-h5);
    border: 2px solid var(--action);
    border-radius: 20px;
    text-align: center;
    padding: 0 50px;
}

.button-template:hover {
    background-color: var(--action);
}

.button-template img {
    transform: translateY(25%);
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.button-primary {
    height: 72px;
}

.button-secondary {
    font-size: 16px;
    height: 60px;
}

.button-tertiary {
    font-size: 16px;
    height: 46px;
}